.centered{
    text-align: center;
}

.centered_table{
  margin-left: auto;
  margin-right: auto;
}

.document{
    text-align: center;
}

.drop_site {
    border:1px solid black;
    height:100px;
  }

  .no_decor{
    text-decoration: none;
  }